

body{
	
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background-size: cover;
	
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: center;
	background-repeat: no-repeat;

}

.container2 {
	background-image: url('images/media/sailboat V.jpg');
	margin: 0 auto;
	width: 60%;
	height: 100%;
	border: 4px solid red;
	opacity: 1.0;
	
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: center;
	background-repeat: no-repeat;

	  transition: all 5s ease-out;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
	}

#container {
	background-image: url('images/media/sailboat VII.jpg');
	margin: 0 auto;
	width: 100%;
	height: 700px;
	/*border: 4px solid red;*/	
}

#name {
	font: 63px 'Merienda One', Helvetica, sans-serif;
  	color: white;
  	text-shadow: 3px 3px 3px grey;
  	position: relative;

	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: black;

	/*border: 1px solid red;*/
	/*color: violet;*/
}



#nav-bar {
	display: none;
	width: 100%;
	margin: 0 auto;
	/*background-color: purple;*/
	opacity: 0.4;
}
	.topnav {
    list-style-type: none;
    margin-left: 10%;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    width: 80%;
    height: 80px;
    border: 3px solid black;	
	}

	#list{
		width:90%;
		/*border: 3px solid orange;*/
		height: 100%;
		margin: 0 auto;
	}

	li {
    float: left;
    /*display: inline;*/
    background-color: red;
	
	}

	li a {
	border: 1px solid purple;
    display: block;
    color: white;
    text-align: center;
    padding: 1.9em 1em;
    text-decoration: none;
    text-shadow: 3px 3px 0px grey;
    transition: 0.3s;

	}

	li a:hover {
    background-color: #111;
	}

	ul.topnav li.icon {display: none;}


	@media screen and (max-width:880px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

	@media screen and (max-width:880px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}





footer {
	/*color: white;*/
	float: right;
	padding: 3px;
}






